[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"flake8" = "*"
pylint = "*"
nose = "*"
docopt = "*"
nltk = "*"
numpy = "*"
scipy = "*"
scikit-learn = "*"
jupyter = "*"
jupyterlab = "*"
"c26edd3" = {path = "/home/gosen/Escritorio/github/PLN-2019", editable = true}

[dev-packages]

[requires]
python_version = "3.6"
